page-profile {
  .grid-avatar{

    ion-card {
      position: center;
      text-align: justify;
    }

    .card-title {
      font-size: 2.0em;
      width: 90%;
      font-weight: bold;
    }

    .card-subtitle {
      width: 80%;
    }

  }
}
